@charset "UTF 8";

body{
    background-color: darkslategrey;
    font-size: 23px;
}
h2 {
    color: darkturquoise;
    background-color: beige;
}
p.azul {
    color: chartreuse;
    background-color: chocolate;

}
p.qualquer {
    color: chocolate;
    background-color: lawngreen;
}