@charset "UTF-8";
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    width: 600px;
    border-collapse: collapse;

}
th,td {
   
    padding: 7px;

}
th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    letter-spacing: 0,1em;
}
tr.altenada{
    background-color: #efefef;

}

tr:hover{
    background-color: #c3e6e5;
}
.numero {
    text-align:right ;

}