@charset "UT-8";

.caixa {
    width: 400px;
    background: #dedede url(imagens/topo.png) no-repeat left top;

}

.caixa h2 {
    padding: 10px 20px 0 20px;

}

.caixa p {
    padding: 0 20px 20px 20px;
    background: url(imagens/baixo.png) no-repeat left bottom;
}



.caixa2 {
    width: 400px;
    background: #dedede url(imagens/fundo-arredondamento.png) repeat-y;

}

.cabecalho2{
    padding: 10px 20px 0 20px ;
    background: url(imagens/topo2.png) no-repeat left top;

}

.segundo {
    padding: 0 20px ;
}

.ultimo{
    background: url(imagens/baixo2.png) no-repeat left bottom;
    padding: 0 20px 20px;

}