@charset "UTF-8"

div {
    background: aquamarine;
    height: 600px;
    display: flex;

    flex-direction: row-reverse;
  



}

.item {
    background: chartreuse;
    border: 1px solid gray;
}


